parameters:
    tmpDir: ./build/cache/phpstan
    level: max
    treatPhpDocTypesAsCertain: false
    paths:
        - ./src
        - ./tests/unit
    ignoreErrors:
        -
            # This error results because MicrosoftGuidFactory uses StandardFactory
            # and returns `never` on calls to `getVersion()`, but MicrosoftGuidFactory
            # overrides createFromInteger(), so it will never call createFromIntegerInternal(),
            # and will never encounter this case where it would try to call `getVersion()`,
            # so we can safely ignore this error.
            message: '#Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given#'
            path: src/Uuid/Utility/StandardFactory.php
